.section-line {
  margin: 0 var(--side-padding);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-transform: uppercase;
  color: var(--dark-grey-color);
  border-bottom: 1px solid var(--light-grey-color);
  margin-bottom: 20px;
}

.my-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 0 var(--side-padding);
}

.my-posts img {
  display: block;
  width: 100%;
}
