<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="my-post.css">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>

<body>
  <nav>
    <button>
        Back to Homepage
    </button>
    <img src="../src/assets/main-icon.png" alt="" class="main-logo">
    <div class="avatar">
      <img src="../src/assets/profile-pic.png" alt="" class="profile-img">
    </div>
  </nav>
  <div class="section-line">
    <a>My posts</a>
    <button>Make a new post</button>
  </div>
  <div class="my-posts">
    <div class="post">
      <div class="post-img">
        <img src="../src/assets/featured-1.jpg" alt="">
      </div>
      <div class="post-data">
        <div>
          <div class="title">
            The Gloves We'll Wear on Mars
          </div>
          <div class="description">
            The ultimate evening routine for cutting stress, creating momentum, and cultivating happiness
          </div>
        </div>
        <div>
          <div class="info">Author name in Category name</div>
          <div class="date">Jul 2</div>
        </div>

      </div>
    </div>
    <div class="post">
      <div class="post-img">
        <img src="../src/assets/featured-1.jpg" alt="">
      </div>
      <div class="post-data">
        <div>
          <div class="title">
            The Gloves We'll Wear on Mars
          </div>
          <div class="description">
            The ultimate evening routine for cutting stress, creating momentum, and cultivating happiness
          </div>
        </div>
        <div>
          <div class="info">Author name in Category name</div>
          <div class="date">Jul 2</div>
        </div>

      </div>
    </div>
    <div class="post">
      <div class="post-img">
        <img src="../src/assets/featured-1.jpg" alt="">
      </div>
      <div class="post-data">
        <div>
          <div class="title">
            The Gloves We'll Wear on Mars
          </div>
          <div class="description">
            The ultimate evening routine for cutting stress, creating momentum, and cultivating happiness
          </div>
        </div>
        <div>
          <div class="info">Author name in Category name</div>
          <div class="date">Jul 2</div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>
