html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.editor {
  margin: 0 10% 20px 10%;
  /* border: 1px solid var(--black-color);*/
  /* padding: 10px; */
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.editor .inputs {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.editor .inputs div {
  margin-right: 40px;
}

.editor .inputs select {
  height: 50%;
}

.editor input {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--light-grey-color);
}

.editor textarea {
  flex: 1 1 auto;
  border: 1px solid var(--light-grey-color);
  outline: 0;
  margin-bottom: 20px;
}
