<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="my-post.css">
  <link rel="stylesheet" href="new-post.css">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>

<body>
  <nav>
    <button>
        Back to Homepage
    </button>
    <img src="../src/assets/main-icon.png" alt="" class="main-logo">
    <div class="avatar">
      <img src="../src/assets/profile-pic.png" alt="" class="profile-img">
    </div>
  </nav>
  <div class="section-line">
    <a>New post</a>
  </div>
  <div class="editor">
    <div class="inputs">
      <div>
       <input type="text" placeholder="Title">
        <input type="text" placeholder="Category">
      </div>
      <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <textarea name="name"></textarea>
    <div class="buttons">
      <button>Save</button>
      <button>Cancel</button>
    </div>
  </div>

</body>

</html>
